<div class="container">
    <mat-card>
        <mat-grid-list [cols]="4" rowHeight="9vh" *ngFor="let product of products">
            <mat-grid-tile><img [src]="product.imageUrl" matListAvatar/></mat-grid-tile>
            <mat-grid-tile><p>{{product.name}}</p></mat-grid-tile>
            <mat-grid-tile>
                <form><input min="1" matInput type="number" name="product_count"
                             [(ngModel)]="product.count" (change)="firechange($event)"></form>
            </mat-grid-tile>
            <mat-grid-tile><p>{{product.price*product.count}} zł</p></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [cols]="4" rowHeight="6vh">
            <mat-grid-tile></mat-grid-tile> <mat-grid-tile></mat-grid-tile> <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile><b><p>Razem: {{total.price}} zł</p></b></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile> <mat-grid-tile></mat-grid-tile> <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button color="primary">Dostawa i Płatność</button></mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
