.mat-card-image{
    padding: 2em;
    max-height: 12em;
    max-width: 12em;
}

.mat-grid-tile{
    cursor: pointer;
}


.thumbnail{
    max-width: 250px;
    height: auto;
}

.incentive_logo {
    margin-bottom: 10px;
}

.recommend_img {
    min-height: 100px;


}
