<div class="container">
    <mat-card>
        <mat-card-title>
            <div *ngIf="(40-total.price)>0; else elseBlock">
                <div class="incentive_logo">
                    <img class="thumbnail"
                         src="https://assets.allegrostatic.com/opbox/allegro.pl/smart/Smart%20-%20mainpage/6Uw1WEeUX8u4FUKvUz3E4D-w1200-h257.png"/>
                    Dla darmowej przesyłki dobierz produkt za minumum {{40 - total.price}} zł.
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="incentive_logo">
                    <img class="thumbnail"
                         src="https://assets.allegrostatic.com/opbox/allegro.pl/smart/Smart%20-%20mainpage/6Uw1WEeUX8u4FUKvUz3E4D-w1200-h257.png"/>
                    Mogą zainteresować Cię również
                </div>
            </ng-template>
        </mat-card-title>
        <mat-card-content>
            <mat-grid-list [cols]="4" rowHeight="32vh">
                <mat-grid-tile (click)="addProduct(product)" *ngFor="let product of recommendedProducts">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>{{product.name}}</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="recommend_img"><img alt="" src="{{product.imageUrl}}"/></div></div>
                        <div class="col-sm-12">
                            <p>{{product.price}} zł</p>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
